{# empty Twig template #}
<ul class="cl-effect-16">
    {% for categorie in categories %}
    <li><a class="" href="" data-hover="{{categorie.name}}">{{categorie.name}}</a></li> 
    {% endfor %}
</ul>